@import "components/colors";
@import "components/fonts";
@import "components/buttons";
@import "components/navbar";
@import "components/footer";
@import "components/radio";
@import "home";
@import "details";
@import "checkout";
@import "signup";
@import "form";

@import 'bootstrap/scss/bootstrap';

